.settings {
    &--container {
        height: 100%;
        box-sizing: border-box;
    }
    &__header {
        position: relative;
        .back-btn {
            fill: $bg-color-white;
            margin-right: 30px;
        }
    }
    &__content {
        height: calc(100% - 57px);
        box-sizing: border-box;
        max-width: 1024px;
        margin: auto;
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px;
        margin: 0px 10px;
        border-bottom: 1px solid $border-color;
        font-weight: 500;
    }

    &__value {
        color: grey;
        font-size: 13px;
    }
}
