.week-pagination-compact {
    color: $dark-border-color;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;

    &__label {
        box-sizing: border-box;
        font-size: 16px;
        margin-right: 14px;
        padding: 6.5px;
    }
    &__btn {
        border: 0.5px solid $dark-border-color;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 6.5px;
        text-align: center;

        &--fixed-width {
            width: 100px;
        }
        &:not(:last-child) {
            margin-right: 3px;
        }
        &:hover {
            background-color: $border-color;
            cursor: pointer;
            transition: background-color 0.5s ease;
        }
        > span {
            vertical-align: middle;
        }
        &--loading {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}
