<<<<<<< HEAD
// TODO: standardize colour name same
=======
// TODO: standardize colour name same as eConsumer

// eMerchant
$primary-text-color: #4a4a4a;
$light-text-color: #bbb;
$bg-color-red: #ee2c30;
$bg-color-bright-red: #ff0000;
$bg-color-green: #39ae4a;
$bg-color-yellow: #f5831f;
$bg-color-white: #fff;
$bg-color-gray: #fafafa;
$bg-color-canvas: #f8f8f8;
$border-color: #ececec;
$input-bg-color: #d8d8d8;
$shadow-bg-color: #656565;
$shadow-light-color: #aba7a7;
$dark-border-color: #838383;
$table-border-color: #e6e6e6;
$star-orange-color: #ff9d00;

// eConsumer
$color-eatigo-red: #ee2c30;
$color-eatigo-orange: #f5831f;
$color-green: #39ae4a;
$color-blue: #007aff;
$color-red: #ff0000;
$color-yellow: #f5831f;
$color-black: #000;
$color-white: #fff;
$color-grey-33: #333333;
$color-grey-4a: #4a4a4a;
$color-grey-83: #838383;
$color-grey-bb: #bbbbbb;
$color-grey-ec: #ececec;
$color-grey-f8: #f8f8f8;
>>>>>>> 2981cd0c26a88dea2c5a2393674428564e4029cd
