@-webkit-keyframes loading {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes loading {
    to {
        -ms-transform: rotate(360deg);
    }
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes showHideDot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        x: 40;
    }
    100% {
        x: 477;
    }
}

@keyframes fill-up {
    0% {
        height: 0;
        y: 108;
    }
    100% {
        height: 90%;
        y: 108;
    }
}

// NOTE: adopted from https://codepen.io/olam/pen/zcqea
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
